/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
error_log
.phpstorm.meta.php
/public/error_log
/storage/*
tests/_output/*
.name
blade.xml
deployment.xml
encodings.xml
jsLibraryMappings.xml
misc.xml
modules.xml
TracTrak WiredTree.iml
vcs.xml
webResources.xml
workspace.xml